@media (min-width: 980px) {
  body {
    padding-top: 60px;
    padding-bottom: 40px; } }
.form-signin input[class*="span"] {
  min-height: 30px;
  float: left; }

.select2-container {
  margin-left: 0;
  margin-bottom: 10px;
  width: 656px; }

.validationMessage {
  display: block;
  color: red;
  float: left;
  margin: 3px 0px 0 5px; }
