@media (min-width: 980px) {
  body {
    padding-top: 60px;
    padding-bottom: 40px; } }
@media (min-width: 980px) and (max-width: 1199px) {
  .table {
    width: 700px; } }
html, body {
  width: 100%;
  height: 100%; }

.form-signin [class*="span"] {
  margin-left: 0; }
.form-signin input[class*="span"] {
  min-height: 30px;
  float: left; }
.form-signin .progress {
  min-width: 100px; }

.select2-container {
  margin-left: 0;
  margin-bottom: 10px; }
  .select2-container.span7 {
    width: 57.26496%; }

.validationMessage {
  display: block;
  color: red;
  float: left;
  margin: 3px 0px 0 5px; }

.sign-out.btn {
  margin-left: 20px; }

.filter {
  margin-left: 20px; }

#dropzone {
  line-height: 100px;
  border: 2px dashed black;
  height: 100px;
  text-align: center;
  font-weight: bold; }

.to-pay {
  position: fixed;
  right: 30px;
  top: 50px;
  width: 300px; }

input[type="number"] {
  padding-top: 2px;
  padding-bottom: 2px;
  height: 18px;
  width: 40px; }
