!!! 5
html
    head
        meta(charset='utf-8')
        title Регистрация - Научная конференция 2013
        link(rel='stylesheet', href='css/bootstrap.css')
        link(rel='stylesheet', href='css/bootstrap-responsive.css')
        link(rel='stylesheet', href='css/custom.css')
    body
        .navbar.navbar-inverse.navbar-fixed-top
            .navbar-inner
                .container-fluid
                    a.brand(href='javascript:;') Научная конференция 2013

        .container-fluid
            form.form-signin
                h2.form-signin-heading Регистрация
                input#name.input-block-level(type='text', placeholder='Имя')
                input#surname.input-block-level(type='text', placeholder='Фамилия')
                input#patronymic.input-block-level(type='text', placeholder='Отчество')
                input.input-block-level(type='password', placeholder='Password')
                label.checkbox
                    input(type='checkbox', value='remember-me')
                    | Remember me
                button.btn.btn-large.btn-primary(type='submit') Sign in

        script(src="js/jquery-1.9.1.min.js")
        script(src="js/bootstrap.min.js")
        script(src="js/knockout-2.2.1.js")

        :coffeescript
            ko.applyBindings new UserRegistrationViewModel
