!!! 5
html
	head
		meta(charset="utf-8")
		title Панель оператора (ВЕРСИЯ ДЛЯ ПЕЧАТИ) — Конференция
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="../assets/css/bootstrap.min.css", rel="stylesheet")
		link(href="../assets/css/bootstrap-responsive.css", rel="stylesheet")
		// Le HTML5 shim, for IE6-8 support of HTML5 elements
		// [if lt IE 9]> <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]
		link(rel="shortcut icon", href="assets/favicon.ico")
		link(href="../assets/css/apanel.css", rel="stylesheet")
		link(rel='stylesheet', href='../assets/css/datepicker.css')
		link(rel='stylesheet', href='../assets/css/select2.css')
		link(rel='stylesheet', href='../assets/css/custom.css')
		link(rel='stylesheet', href='../assets/css/print.css')
		style
			body { padding-top: 0px }


	body
		.btn-group
			a.btn.btn-primary(href="#", data-bind="click: toExcel") Экспорт в Excel
			// ko if: exported
			a.btn(data-bind="attr: {href: exportHref}", download="print.xls") Скачать
			// /ko
		table.table.table-striped#toprint
			thead
				tr
					th Номер
					th ФИО
					th Научная степень
					th Ученое звание
					th Должность
					th Место работы
					th Город
					th Страна
					th Почтовый адрес
					th Электронный адрес
					th Телефон
					th Форма участия в конференции
					th Название доклада
					th Номер секции
					th Участие в монографии
					th Название раздела монографии
					th Потребность в проживании
					th Оплата тезисов безнал
					th Оплата тезисов наличные
					th Сумма к оплате монографии
					th Оплата монографии безнал
					th Оплата монографии наличные
					th Оргвзнос (очное)
					th Отметка об отправке материалов
			tbody(data-bind="foreach: users")
				tr
					td
						div(data-bind="text: id")
					td
						div(data-bind="text: fullName")
					td
						div(data-bind="text: academicDegree")
					td
						div(data-bind="text: academicTitle")
					td
						div(data-bind="text: jobPosition")
					td
						div(data-bind="text: jobPlace")
					td
						div(data-bind="text: city")
					td
						div(data-bind="text: country")
					td
						div(data-bind="text: postalAddress")
					td
						div(data-bind="text: email")
					td
						div(data-bind="text: phone")
					td
						div(data-bind="text: participantType")
					td
						div(data-bind="text: lectureTitle")
					td
						div(data-bind="text: sectionNumber")
					td
						div(data-bind="checkbox: function(){ return monographyParticipant === '1'; }")
					td
						div(data-bind="text: monographyTitle")
					td
						div(data-bind="text: stayPeriod")
					td 
						div(data-bind="text: z_thesisPay")
					td 
						div -
					td 
						div(data-bind="text: z_monographyPay")
					td 
						div(data-bind="text: z_monographyPay")
					td 
						div -
					td 
						div(data-bind="text: z_organizationPay")
					td
						div(data-bind="checkbox: function(){ return true; }")

		script(src="../assets/js/libs/jquery-1.9.1.min.js")
		script(src="../classes/require.js")
		script(src="../assets/js/libs/bootstrap.min.js")
		script(src="../assets/js/libs/lodash.min.js")
		script(src="../assets/js/libs/bootstrap-datepicker.js")
		script(src="../assets/js/libs/knockout-2.2.1.js")
		script(src="../assets/js/libs/knockout.mapping.js")
		script(src="../assets/js/libs/knockout.validation.js")
		script(src="../assets/js/customBindings/checkBox.js")
		script(src="../assets/js/libs/select2.js")
		script(src="../assets/js/customBindings/datePicker.js")
		script(src="../assets/js/customBindings/select2.js")
		script(src="../assets/js/configureValidation.js")

		script(src="../assets/js/searchData.js")

		script(src="../assets/js/viewModels/UserViewModel.js")
		script(src="../assets/js/viewModels/PrintViewModel.js")

		:coffeescript
			ko.applyBindings new PrintViewModel

