!!! 5
html
	head
		meta(charset='utf-8')
		title Спасибо — Научная конференция 2013
		link(rel='stylesheet', href='../assets/css/bootstrap.css')
		link(rel='stylesheet', href='../assets/css/bootstrap-responsive.css')
		style
			body {
				padding-top: 60px;
			}
	body
		.navbar.navbar-inverse.navbar-fixed-top
			.navbar-inner
				.container
					a.brand(href='javascript:;') Научная конференция 2013

		.container
			h1 Регистрация успешно подтверждена
			br
			p На ваш электронный адрес будут высланы дальнейшие инструкции по оплате, ожидайте.
			br
			p
				| Вернуться на 
				a(href="back.html") главную
